<div class="card ">
    <div class="card-image ">
        <img src="{{producto.imageUrl}} " width="70% " height="200px ">

    </div>
    <div class="card-content ">
        <div class="row subir ">
            <span class="nombre ">{{producto.nombre}}</span>
        </div>
        <div class="row ">
            <div class="coll6 ">
                <span class="datos ">Precio $: <span class="dinero ">{{producto.precio}}</span></span>
            </div>
            <div class="coll6 ">
                <span class="datos ">Stock: <span class="dinero ">{{producto.cantidad}}</span> /u</span>
            </div>
        </div>

        <div class="row ">
            <div class="col l4 ">
                <button mat-mini-fab color="warn" (click)="Informacion(producto)"><i class="material-icons ">pageview</i> </button>
            </div>
            <div class="col l4 ">
                <button mat-mini-fab color="warn" (click)="addProducto(producto)"><i class="material-icons ">add</i></button>
            </div>
            <div class="col l4 input-field ">
                <input id="number" type="number" min="0" max="{{producto.cantidad}}" value="0" [(ngModel)]="contador">
            </div>
        </div>





    </div>

</div>