.nombre {
    font-size: 1.5em;
    color: #000;
    text-shadow: #999 1px 2px 3px;
    text-transform: capitalize;
}

.subir {
    margin-top: -25px;
}

.datos {
    font-size: 1em;
    font-weight: bold;
}

.dinero {
    font-size: 1.2em;
    font-weight: bold;
}

#number {
    width: 40px;
}