<table class="highlight">

    <tbody>
        <tr>
            <td>
                <div class="celda">
                    <div class="row">
                        <div class="datos-left">
                            <img src="{{articulo.item.imageUrl}}" width="100%">
                        </div>
                        <div class="datos-rigth">
                            <div class="row ">
                                <span>Producto: {{articulo.item.nombre}}</span>
                            </div>
                            <div class="row ">
                                <span>Cantidad: {{articulo.unidades}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <span>Sub Total: {{articulo.precio}} </span>
                    </div>
                </div>
            </td>

        </tr>
    </tbody>
</table>