<mat-toolbar>
    <span class="brand-logo">La Bodega</span>
    <div class="iconos">
        <a>
            <mat-icon class="cfi" routerLink='/home'>apps</mat-icon>
        </a>
        <a routerLink="/carrito">
            <mat-icon matBadge="{{contador}}" matBadgeColor="warn" class="cfi">add_shopping_cart</mat-icon>
        </a>
        <a>
            <mat-icon class="cfi">inbox</mat-icon>
        </a>
        <a (click)='salir()'>
            <mat-icon class="cfi">exit_to_app</mat-icon>
        </a>
    </div>

</mat-toolbar>